{% extends 'enroll/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-8 offset-2">
            <h4 class="text-center alert alert-info">Update Student Information</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Update" class="btn btn-primary">
                <a href="{% url 'addandshow' %}" class="btn btn-info">Back to Home</a>
            </form>
        </div>
    </div>
{% endblock content %}
